# Virtual envirioment
venv/
env/

# Python files
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Personal Settings
*.env
*.DS_Store
*.vscode/

# Migrations Files
*/migrations/__pycache__/
*/migrations/*.pyc

# Static & media files Django
/static/
/media/
/staticfiles/
/static/css/output.css

# Files sistem
Thumbs.db

# Tailwind build
assets/css/*.css

# Node.js
node_modules/
