{% extends "layout/indexview.html" %}
{% block 'content' %}

    <section class="max-w-4xl mx-auto px-4 py-8">
        
        <div class="grid grid-cols-2">
            <div>
                <h1 class="text-4xl font-bold text-gray-900 mb-10 tracking-tight">
                    Sesiones
                </h1>
            </div>
            <div class="text-right">
                <p>
                    <a href="{% url 'session_create' %}"
                            class="inline-block px-6 py-2 border-2 border-indigo-400  rounded-xl shadow-md font-medium text-white bg-indigo-400 transition-transform transform hover:scale-105 duration-200">
                        Nueva sesion
                    </a>
                </p>
            </div>
        </div>

        <ul class='space-y-5'>

            {% if all_sessions %}
                {% if  in_progress_sessions %}
                    <h3 class='font-bold text-yellow-800 text-2xl'>En progreso</h3>
                    {% for session in in_progress_sessions %}  
                        <li class="p-5 rounded-2xl shadow-md hover:shadow-lg transition-shadow duration-200 border-l-4 {{session.get_color_status}}">
                            <p>
                                <a href="{% url 'session_view' title=session.title %}" class="text-lg font-bold hover:underline uppercase">
                                    {{session.title}}
                                </a>
                            </p>
                            <div class="font-semibold grid grid-cols-2">
                                <div>
                                    <p>Plan estudio: </p>
                                </div>
                                <div>
                                    <p>{{session.study_plan }}</p>
                                </div>
                                <div>
                                    <p>Notas: </p>
                                </div>
                                <div>
                                    {{session.notes}}
                                </div>
                                <div>
                                    <p>Inicio: </p>
                                </div>
                                <div>
                                    {{session.start}}
                                </div>
                                <div>
                                    <p>Fin: </p>
                                </div>
                                <div>
                                    {{session.end}}
                                </div>
                            </div>     
                        </li>
                    {% endfor %}
                {% endif %}


                {% if scheduled_sessions %}
                    <h3 class='font-bold text-blue-800 text-2xl'>Programadas</h3>
                    {% for session in scheduled_sessions %}  
                        <li class="p-5 rounded-2xl shadow-md hover:shadow-lg transition-shadow duration-200 border-l-4 {{session.get_color_status}}">

                            <p>
                                <a href="{% url 'session_view' title=session.title %}" class="text-lg font-bold hover:underline uppercase">
                                    {{session.title}}
                                </a>
                            </p>
                            <div class="font-semibold">
                                <p>Plan estudio: {{session.study_plan }}</p>
                                <p>Notas: {{session.notes}}</p>
                                <p>Inicio: {{session.start}}</p>
                                <p>Fin: {{session.end}}</p>
                            </div>     
                        </li>
                    {% endfor %}
                {% endif %}
                
                {% if  completed_sessions %}
                    <h3 class='font-bold text-green-800 text-2xl'>Terminadas</h3>
                    {% for session in completed_sessions %}  
                        <li class="p-5 rounded-2xl shadow-md hover:shadow-lg transition-shadow duration-200 border-l-4 {{session.get_color_status}}">

                            <p>
                                <a href="{% url 'session_view' title=session.title %}" class="text-lg font-bold hover:underline ">
                                    {{session.title}}
                                </a>
                            </p>
                            <div class="font-semibold">
                                <p>Plan estudio: {{session.study_plan }}</p>
                                <p>Notas: {{session.notes}}</p>
                                <p>Inicio: {{session.start}}</p>
                                <p>Fin: {{session.end}}</p>
                            </div>     
                        </li>
                    {% endfor %}
                {% endif %}
            {% else %}
                <p class="text-gray-500 italic">No tienes sesiones registradas.</p>
            {% endif %}
        </ul>
    </section>
{% endblock 'content' %}
