{% extends "layout/indexview.html" %}
{% block 'content' %}

    <section class="max-w-4xl mx-auto px-4 py-8">
        <h1 class="text-3xl font-bold text-gray-800 mb-10">
            Sesiones
        </h1>

        <ul class='space-y-5'>
            <h3 class='font-bold text-yellow-800 text-2xl'>En progreso</h3>
            {% for session in in_progress_sessions %}  
                <li class="p-3 {{session.get_color_status}} rounded-2xl shadow-sm transition-transform transform hover:scale-[1.02] duration-200">
                    <p>
                        <a href="{% url 'session_view' title=session.title %}" class="text-lg font-bold hover:underline ">
                            {{session.title}}
                        </a>
                    </p>
                    <div class="font-semibold">
                        <p>Plan estudio: {{session.study_plan }}</p>
                        <p>Notas: {{session.notes}}</p>
                        <p>Inicio: {{session.start}}</p>
                        <p>Fin: {{session.end}}</p>
                    </div>     
                </li>
            {% endfor %}

            <h3 class='font-bold text-blue-800 text-2xl'>Programadas</h3>
        
            {% for session in scheduled_sessions %}  
                <li class="p-3 {{session.get_color_status}} rounded-2xl shadow-sm transition-transform transform hover:scale-[1.02] duration-200">
                    <p>
                        <a href="{% url 'session_view' title=session.title %}" class="text-lg font-bold hover:underline ">
                            {{session.title}}
                        </a>
                    </p>
                    <div class="font-semibold">
                        <p>Plan estudio: {{session.study_plan }}</p>
                        <p>Notas: {{session.notes}}</p>
                        <p>Inicio: {{session.start}}</p>
                        <p>Fin: {{session.end}}</p>
                    </div>     
                </li>
            {% endfor %}

            <h3 class='font-bold text-green-800 text-2xl'>Terminadas</h3>

            {% for session in completed_sessions %}  
                <li class="p-3 {{session.get_color_status}} rounded-2xl shadow-sm transition-transform transform hover:scale-[1.02] duration-200">
                    <p>
                        <a href="{% url 'session_view' title=session.title %}" class="text-lg font-bold hover:underline ">
                            {{session.title}}
                        </a>
                    </p>
                    <div class="font-semibold">
                        <p>Plan estudio: {{session.study_plan }}</p>
                        <p>Notas: {{session.notes}}</p>
                        <p>Inicio: {{session.start}}</p>
                        <p>Fin: {{session.end}}</p>
                    </div>     
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock 'content' %}
