{% extends 'layout/indexview.html'%}

{% block 'content' %}
    <div class="p-6 m-2.5 max-w-4xl mx-auto">

        {% if messages %}
            <ul class="space-y-2">
                {% for message in messages %}
                <li class="text-red-600 text-sm font-medium text-center mb-3">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <table class="min-w-full bg-white border {{study_plan.subject.get_border_classes}} shadow-xl">
            <thead class="{{study_plan.subject.get_bg_headtable}}">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium {{study_plan.subject.get_text_classes}} uppercase tracking-wider">
                        Campo
                    </th>
                    <th class="px-6 py-3 text-left text-xs font-medium {{study_plan.subject.get_text_classes}} uppercase tracking-wider">
                        Información
                    </th>
                </tr>
            </thead>
            <tbody class="divide-y {{study_plan.subject.get_divide_classes}}">
                <tr class="{{study_plan.subject.get_hover_classes}} transition-colors duration-200">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        Titulo del plan: 
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                        {{study_plan.title}}
                    </td>
                </tr>
                <tr class="{{study_plan.subject.get_hover_classes}} transition-colors duration-200">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        Materia asignada: 
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                        {{study_plan.subject}}
                    </td>
                </tr>
                <tr class="{{study_plan.subject.get_hover_classes}} transition-colors duration-200">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        Fecha de inicio: 
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                        {{study_plan.start_date}}
                    </td>
                </tr>
                <tr class="{{study_plan.subject.get_hover_classes}} transition-colors duration-200">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        Fecha limite: 
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                        {{study_plan.limit_date}}
                    </td>
                </tr>
                <tr class="{{study_plan.subject.get_hover_classes}} transition-colors duration-200">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        Horas del plan: 
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                        {{study_plan.target_hours}}
                    </td>
                </tr>
                <tr class="{{study_plan.subject.get_hover_classes}} transition-colors duration-200">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        Progreso de horas: 
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                        {{study_plan.progress_hours}}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="mt-5">
            <a href="{% url 'study_plans'%}" class="px-4 py-2 bg-green-500 hover:bg-green-600 text-white rounded-md mr-2">
                Regresar
            </a>
            <a href="{% url 'study_plan_edit' title=study_plan.title %}" class="px-4 py-2 bg-indigo-400 hover:bg-indigo-500 text-white rounded-md mr-2">
                Editar
            </a>
            </a>
            <a href="{% url 'study_plan_delete' title=study_plan.title %}" class="px-4 py-2 bg-red-400 hover:bg-red-500 text-white rounded-md">
                Eliminar
            </a>
        </div>
    </div>
    

{% endblock 'content' %}