{% extends "layout/indexview.html" %}

{% block 'content' %}
    <div class="p-6 m-2.5 max-w-4xl mx-auto">
        <form action="{% url 'study_plan_create' %}" method="POST">
            <table class="min-w-full border shadow-xl border-indigo-800">
                {% csrf_token %}
                <thead class="bg-indigo-100">
                    <tr>
                        <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-indigo-800">
                            Campo
                        </th>
                        <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-indigo-800">
                            Informacion
                        </th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-indigo-200">
                    <tr class="transition-colors duration-200 hover:bg-indigo-50">
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                            Titulo del plan
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                            {{form.title}}
                        </td>
                    </tr>
                    <tr class="transition-colors duration-200 hover:bg-indigo-50">
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                            Materia asignada
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                            {{form.subject}}
                        </td>
                    </tr>
                    <tr class="transition-colors duration-200 hover:bg-indigo-50">
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                            Fecha de inicio
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                            {{form.start_date}}
                        </td>
                    </tr>
                    <tr class="transition-colors duration-200 hover:bg-indigo-50">
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                            Fecha limite
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                            {{form.limit_date}}
                        </td>
                    </tr>
                    <tr class="transition-colors duration-200 hover:bg-indigo-50">
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                            Horas del plan
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-700">
                            {{form.target_hours}}
                        </td>
                    </tr>
                </tbody>
            </table>

            {% if form.errors %}
                <div class="text-center py-2 px-4 rounded-md bg-red-400  mt-3 font-semibold">
                    <p class="text-white">
                        {{form.non_field_errors.0}}
                    </p>
                </div>
            {% endif %}
            
            <div class="my-3">
                <button type="submit" class="px-4 py-2 bg-indigo-400 hover:bg-indigo-500 text-white rounded-md mr-2 appearance-none">
                    Guardar
                </button>
                <a href="{% url 'sessions'%}" class="px-4 py-2 bg-gray-400 hover:bg-gray-500 text-white rounded-md inline-block">
                    Cancelar
                </a>    
            </div>
        </form>
        
    </div>
{% endblock 'content' %}